<!-- Parent Component -->

<ChildTest OnClick="ClickHandler"></ChildTest>

<p>@message</p>

@code {

    string message = "Hello from ParentComponent";

    void ClickHandler(string newMessage)
    {
        message = newMessage;
    }

}